In [2]:
# This is Cel# This is Cell 1

import pandas as pd

# Create a sample DataFrame
data = pd.DataFrame({
    'name': ['John', 'Alice', 'Bob', 'Jane', 'Mike'],
    'age': [25, 30, 35, 28, 32],
    'gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'income': [50000, 60000, 55000, 65000, 70000]
})

# Save the DataFrame to a CSV file
data.to_csv('data.csv', index=False)

In [3]:
data.head()

    name  age  gender  income
0   John   25    Male   50000
1  Alice   30  Female   60000
2    Bob   35    Male   55000
3   Jane   28  Female   65000
4   Mike   32    Male   70000

In [4]:
data['age'].mean()

30.0